

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100%;
    width: 100%;
    background: hsl(115, 26%, 67%);
    margin: 0;
    padding: 0;

}

.container{
    display: flex;
    justify-content: center;
    width: 45%;
    margin-top: 80px;
    position: relative;
    left: 30%;
    flex-direction: row;
    border: 2px none black;
    border-radius: 40px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.image{
    display: flex;
    position: relative;
    justify-content: center;
    height: 70vh;
    width: 45vw;

}

.details{
    display: flex;
    flex-direction: column;
    width: 70vw;
    background-color: rgb(247, 226, 226);
}

#perfume{
    display: flex;
    margin: 1em;
    position: relative;
    top: 4%;
    color: hsl(228, 12%, 48%);
    font-size: 20px;
}

#title{
    display: flex;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    /* font-size: 30px; */
    /* top: 20%; */
}

#description{
    display: flex;
    /* background-color: aquamarine; */
    width: 90%;
    margin: 20px;
    font-size: 18px;
    color: hsl(228, 12%, 48%);


}

.price{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#price1{
    color: rgb(66, 130, 134);
}

#price2{
    align-self: center;
    justify-content: center;

}

.cart{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.cart1{
    display: flex;
    width: 15vw;
    height: 7vh;
    justify-content: center;
    margin-left: 10px;
    border: 2px none black;
    border-radius: 10px;
    background-color: hsl(158, 62%, 35%);
    align-items: center;
    position: relative;
    gap: 10px;
}
#add{
    color: white;
}

.cart button{
    color: white;
    
}

.cart button:hover{
    background-color: rgb(39, 78, 50);
}

